<?xml version="1.0"?>
<!-- Name attributes of 'att' nodes are not used, included just for reference.-->
<config method='Mondrian' k='10'>
	<input filename='../../adult/categorically_numbered.csv' separator=','/> <!-- If left blank, separator will be set as comma by default.-->
	<output filename='../anon_data/mondrian10' format ='genVals'/> <!-- Format options = {genVals, genValsDist, anatomy}. If left blank,
	output format will be set as genVals by default.-->
	<id> <!-- List of identifier attributes, if any, these will be excluded from the output -->
		<att index='0' name='index'/>
	</id>


	<qid>
		<att index='1' name ='age'>
			<vgh value='[0:100)'>
				<node value='[0:50)'>
					<node value='[0:25)'>
						<node value='[0:12)'/>
						<node value='[12:25)'/>
					</node>
					<node value='[25:50)'>
						<node value='[25:37)'/>
						<node value='[37:50)'/>
					</node>
				</node>
				<node value='[50:100)'>
					<node value='[50:75)'>
						<node value='[50:62)'/>
						<node value='[62:75)'/>
					</node>
					<node value='[75:100)'>
						<node value='[75:87)'/>
						<node value='[87:100)'/>
					</node>
				</node>
			</vgh>
		</att>
		<att index='2' name='workclass'>
			<vgh value='[0:6]'>
				<!-- GOV employed -->
				<node value='[0:3)'></node>
				<!-- Self or privately employed -->
				<node value='[3:6)'></node>
				<!-- Without pay -->
				<node value='[6:6]'></node>
			</vgh>
		</att>
		<att index='3' name='fnlwgt'>
			<vgh value='[0:1500000)'>
				<node value='[0:300000)'>
					<node value='[0:60000)'></node>
					<node value='[60000:120000)'></node>
					<node value='[120000:180000)'></node>
					<node value='[180000:240000)'></node>
					<node value='[240000:300000)'></node>
				</node>
				<node value='[300000:600000)'>
					<node value='[300000:360000)'></node>
					<node value='[360000:420000)'></node>
					<node value='[420000:480000)'></node>
					<node value='[480000:540000)'></node>
					<node value='[540000:600000)'></node>
				</node>
				<node value='[600000:900000)'>
					<node value='[600000:660000)'></node>
					<node value='[660000:720000)'></node>
					<node value='[720000:780000)'></node>
					<node value='[780000:840000)'></node>
					<node value='[840000:900000)'></node>
				</node>
				<node value='[900000:1200000)'>
					<node value='[900000:960000)'></node>
					<node value='[960000:1020000)'></node>
					<node value='[1020000:1080000)'></node>
					<node value='[1080000:1140000)'></node>
					<node value='[1140000:1200000)'></node>
				</node>
				<node value='[1200000:1500000)'>
					<node value='[1200000:1260000)'></node>
					<node value='[1260000:1320000)'></node>
					<node value='[1320000:1380000)'></node>
					<node value='[1380000:1440000)'></node>
					<node value='[1440000:1500000)'></node>
				</node>
			</vgh>
		</att>
		<att index='4' name='education-num'>
			<vgh value='[0:15]'>
				<!-- HS or less-->
				<node value='[0:9)'>
					<!-- Less than HS -->
					<node value='[0:5)'/>
					<!-- HS -->
					<node value='[5:9)'/>
				</node>
				<!-- Further Studies -->
				<node value='[9:15]'>
					<!-- Bachelor or less -->
					<node value='[9:14)'/>
					<!-- Masters or more -->
					<node value='[14:15]'/>
				</node>
			</vgh>
		</att>
		<att index='5' name='marital-status'>
			<vgh value='[0:6]'>
				<!-- Married -->
				<node value='[0:3)'/>
				<!-- Once Married -->
				<node value='[3:6)'/>
				<!-- Never Married -->
				<node value='[6:6]'/>
			</vgh>
		</att>
		<att index='6' name='occupation'>
			<vgh value='[0:13]'>
				<!-- "Manual" -->
				<node value='[0:6)'/>
				<!-- "Desk work" -->
				<node value='[6:11)'/>
			  <!-- "Military or Police" -->
				<node value='[11:13)'/>
				<!-- "Other" -->
				<node value='[13:13]'/>
			</vgh>
		</att>
		<att index='7' name='race'>
			<vgh value='[0:4]'>
				<!-- Majority -->
				<node value='[0:0]'/>
				<!-- Minority -->
				<node value='[1:4]'/>
			</vgh>
		</att>
		<att index='8' name='sex'>
			<vgh value='[0:1]'/>
		</att>
		<att index='9' name='capital-gain'>
			<vgh value='[0:100000)'>
				<!-- none -->
				<node value='[0:1)'/>
				<!--Low (nonzero up to median of nonzero entries) -->
				<node value='[1:7298)'/>
				<!-- High -->
				<node value='[7298:100000)'/>
			</vgh>
		</att>
		<att index='10' name='capital-loss'>
			<vgh value='[0:4357)'>
				<!-- none -->
				<node value='[0:1)'/>
				<!--Low (nonzero up to median of nonzero entries) -->
				<node value='[1:1887)'/>
				<!-- High -->
				<node value='[1887:4357)'/>
			</vgh>
		</att>
		<att index='11' name='hours-per-week'>
			<vgh value='[0:100)'>
				<!-- Part time -->
				<node value='[0:20)'/>
				<!-- Full time -->
				<node value='[21:41)'/>
				<!-- Overtime -->
				<node value='[41:61)'/>
				<!-- Workaholic -->
				<node value='[61:100)'/>
			</vgh>
		</att>
		<att index='12' name='native-country'>
			<vgh value='[0:39]'>
				<!-- North American -->
				<node value='[0:4)'/>
				<!-- South/Central American -->
				<node value='[4:17)'/>
				<!-- Asian -->
				<node value='[17:27)'/>
				<!-- European -->
				<node value='[27:39)'/>
				<!-- Middle Eastern -->
				<node value='[39:39]'/>
			</vgh>
		</att>
	</qid>




	<sens>
		<att index='13' name='salary'/>
	</sens>
</config>
